body {
    background-color: #f2f2f2;
    font-family: 'Mitr', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: #B96366;
    font-weight: 2000;
}

h2 {
    text-align: center;
    color: #000000;
    font-weight: 1000;
}

h3 {
    font-size: 1.5rem;
    margin: 5px;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

#equation{
    font-size: 3rem;
}

.flipped {
    transform: scaleX(-1);
}

#car {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    transition: 1s;
}

#rideCar {
    margin: 0px;
    position: relative;
    padding: 0px;
    left: -300px;
    transition: 1s;
}

#rideCar img:first-child {
    position: relative;
    top: 10px;
    transition: 1s;
    
}

#colored-line {
    border: 1px solid gray;
    width: 100%;
    padding-top: 0;
    margin: 0px;
    margin-bottom: 10px;
}

.block-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: auto;
    margin: 20px;
    max-width: 1200px;
}

.block-items .main-item {
    border: 3px solid #FF8989;
    border-radius: 20px;
    padding: 20px 10px;
    height: auto;
    width: 1000px;
    align-items: center;
    margin: 20px;
}

.inline-block {
    display: inline-block;
    margin: 20px;
}

.main-item h3 {
    text-align: center;
    color: #000000;
    font-weight: 1000;
}

.container-row {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    height: auto;
    width: 80%;

}

.main-item .container-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin: 20px;
    max-width: 1200px;
}

.main-item .container-col div {
    margin: 10px
}

.panel-grid-container {
    display: grid;
    grid-template-columns: 100px auto auto auto 50px;
    grid-template-rows: repeat(4, 30px);
    grid-gap: 1px;
    text-align: center; /* Center text horizontally within each grid item */
    justify-content: center; /* Center the items horizontally within the grid container */
    align-items: center;
    column-gap: 20px;
}

.panel-grid-container button {
    text-align: center;
    background-color: #FCAEAE;
    color: #ffffff;
    width: auto;
    height: auto;
    border-radius: 30%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.panel-grid-container button:hover {
    background-color: #FF6666;
    border-radius: 50%;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: transparent;
    width: 600px;
    height: 5px;
    background: #ddd;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 0;
    padding: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: transparent;
    height: 20px;
    width: 20px;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    align-items: center;
    margin: 10px;  
}
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FCAEAE;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #FF6666;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #FF6666;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.button-control  {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.button-control img {
    height: 40px;
}

#AjPic {
    gap: 0px;
    width: 80%;
}

#AjPic img{
    height: 80px;
}

#move-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s;
}

/* #move-button:hover {
    transform: scale(1.5);
} */

.button-control:hover {
    transform: scale(1.5);
    transition: 0.5s;
}

#move-button img {
    height: 50px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.canvas-container {
    position: relative;
    animation: fadeIn 1s;
}